# 데이터프레임을 mysql에 업로드
2020-05-25 : building,around  
2020-05-27 : building에 호 추가, 이미지 저장  
2020-05-28 : 백업용 데이터를 위한 저장하는 셀 추가  
2020-06-02 : building테이블이 contract테이블로 이름변경 및 다른 테이블 일부 컬럼 구조 수정  
### contarct 테이블 스키마
```
CREATE TABLE `contract` (
  `contract_id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(100) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `sd` varchar(20) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `sgg` varchar(20) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `emd` varchar(20) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `latitude` varchar(45) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `longitude` varchar(45) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `exclusive` varchar(10) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `floor` varchar(10) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `ho` varchar(10) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `kind` varchar(10) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `detail` varchar(10) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `cost` bigint DEFAULT NULL,
  `monthly` varchar(10) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `license` varchar(45) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `image` varchar(200) CHARACTER SET utf8 COLLATE utf8_bin DEFAULT NULL,
  `contract_date` datetime DEFAULT NULL,
  PRIMARY KEY (`contract_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
```
---
### around 테이블 스키마
```
CREATE TABLE rot.around (
  num INT NOT NULL AUTO_INCREMENT,
  address VARCHAR(100) NULL,
  trans INT NULL,
  comforts INT NULL,
  education INT NULL,
  medical INT NULL,
  eatery INT NULL,
  culture INT NULL,
  PRIMARY KEY (num),
  UNIQUE INDEX address_UNIQUE (address ASC) VISIBLE)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;
```

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

### 데이터 연결

db_connection_str = 'mysql+pymysql://test:rot123456789!!@k02b2031.p.ssafy.io:3306/rot'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

### local

In [19]:
db_connection_str = 'mysql+pymysql://root:ssafy@localhost:3306/rot'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

C:\Users\multicampus\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

# building

## 파일 백업했던거 불러오기

In [11]:
dtypes={'address':str,'sd':str,'sgg':str,'emd':str,'latitude':str,
       'longitude':str,'exclusive':str,'floor':str,'ho':str,'detail':str,'cost':int,'monthly':str,'license':str,'image':str,'contractedAt':str}
df = pd.read_csv('./data/백업Building.csv', dtype = dtypes)
df.drop(columns='createdAt', inplace = True)
df.rename(columns={'contractedAt':'contract_date'}, inplace=True)
df.dtypes

exclusive        object
cost              int32
floor            object
kind             object
detail           object
monthly          object
contract_date    object
sd               object
sgg              object
emd              object
latitude         object
longitude        object
address          object
license          object
image            object
ho               object
dtype: object

### 파일 불러오기

In [3]:
dtypes={'전용면적':str,'거래금액':str,'층':str,'건물종류':str,'거래형태':str,'월세':str,'계약날짜':str,'시도':str,'시군구':str,'읍면동':str,'위도':str,'경도':str,'도로명주소':str}
df = pd.read_csv('./data/대전전국데이터합친최종본.csv', sep=',',dtype=dtypes)

In [4]:
df.dtypes

전용면적     object
거래금액     object
층        object
건물종류     object
거래형태     object
월세       object
계약날짜     object
시도       object
시군구      object
읍면동      object
위도       object
경도       object
도로명주소    object
dtype: object

### 칼럼 이름 재정의

In [ ]:
df.rename(columns={'전용면적':'exclusive','거래금액':'cost',"도로명주소":'address',
             '시도':'sd','시군구':'sgg','읍면동':'emd',
             '위도':'latitude','경도':'longitude','층':'floor',
             '거래형태':'detail','건물종류':'kind','계약날짜':'contract_date',
             '월세':'monthly'},inplace=True)

### 데이터 저장일자, 데이터 길이 수정(전용면적,위도,경도)

In [ ]:
import random
import datetime

def get_license(row):
    return "SSAFY-대전-00"+str(random.randint(1,5))
df['license'] = df.apply(get_license, axis=1)

In [ ]:
df['createdAt'] = datetime.datetime.now()
df['exclusive'] = df['exclusive'].str[:5]
df['latitude'] = df['latitude'].str[:14]
df['longitude'] = df['longitude'].str[:13]
df['image']='default.png'

In [ ]:
df.columns

In [ ]:
df.dtypes

### 호 1~9까지 랜덤값 지정

In [ ]:
du = {}
def get_ho(row):
    addr  = row['address']
    date = row['contractedAt']
    floor = row['floor']+'f'
    ho = random.randint(1,15)
    b = [16,False, False, False, False, False, False, False, False, False,False,False,False,False,False,False]
    
    if addr in du: # 주소 중복
        if date in du[addr]: # 같은 날짜에 있어
            if floor in du[addr][date]: # 같은 층
                t = du[addr][date][floor]
                if t[ho] is True:
                    idx = 0
                    while t[ho] is True:
                        ho = random.randint(1,15)
                        idx+=1
                        if idx==15:
                            t = du[addr][date][floor][0]
                            du[addr][date][floor][0]+=1
                            return str(t)
                    t[ho]=True
                    du[addr][date][floor]=t
                elif t[ho] is False:
                    t[ho]=True
                    du[addr][date][floor]=t
            else: # 같은 층이 아니야
                b[ho]=True
                du[addr][date][floor]=b
                
        else:
            b[ho]=True
            du[addr][date]={}
            du[addr][date][floor]=b
    else: # 주소 중복이 없는 경우
        du[addr]={}
        b[ho]=True
        du[addr][date]={}
        du[addr][date][floor]=b
    return ho

In [ ]:
df['ho'] = df.apply(get_ho, axis=1)

In [ ]:
df = df.astype({'ho':str})

In [ ]:
df['ho'].unique()

In [ ]:
df[df.duplicated(['address','contractedAt','floor','ho'])][['address','contractedAt','floor','ho']]

In [ ]:
df[df['sd'].str.contains('대전')]['kind'].value_counts()

In [ ]:
import os
op = []
ap = []
yd = []
path_dir = './image'
op_list = os.listdir(path_dir+"/op")
ap_list = os.listdir(path_dir+"/ap")
yd_list = os.listdir(path_dir+"/yd")

In [ ]:
def setImage(row):
    if row['kind']=="아파트":
        r= random.randint(0,len(ap_list)-1)
        return ap_list[r]
    elif row['kind']=='연립/다세대':
        r= random.randint(0,len(yd_list)-1)
        return yd_list[r]
    elif row['kind']=='오피스텔':
        r= random.randint(0,len(op_list)-1)
        return op_list[r]
df['image'] = df.apply(setImage, axis=1)

In [ ]:
len(list(df['image'].unique()))

### append로 기존에 있는 테이블에 내용 추가

#### replace의 경우를 대비한 dtype 설정내용(지금은 안씀)
dtypesql = {'exclusive':sqlalchemy.types.VARCHAR(10), 
            'cost':sqlalchemy.types.VARCHAR(10), 
            'address':sqlalchemy.types.VARCHAR(100), 
            'sd':sqlalchemy.types.VARCHAR(20), 
            'sgg':sqlalchemy.types.VARCHAR(20), 
            'emd':sqlalchemy.types.VARCHAR(20), 
            'latitude':sqlalchemy.types.VARCHAR(45), 
            'longitude':sqlalchemy.types.VARCHAR(45), 
            'floor':sqlalchemy.types.VARCHAR(10), 
            'detail':sqlalchemy.types.VARCHAR(10), 
            'kind':sqlalchemy.types.VARCHAR(10), 
            'contractedAt':sqlalchemy.Date(), 
            'createdAt':sqlalchemy.DateTime(), 
            'monthly':sqlalchemy.types.VARCHAR(100), 
}
df.to_sql(name='building', con=db_connection, if_exists='append', index=False,dtype=dtypesql)

In [20]:
df.to_sql(name='contract', con=db_connection, if_exists='append',index=False)

---
# around
### 데이터불러오기

In [13]:
dtypes={'도로명주소':str,'위도':str,'경도':str,'교통':int,'마트편의점':int,'교육시설':int,'의료시설':int,'음식점카페':int,'문화공간':int}
df1 = pd.read_csv('./data/카테고리_최종데이터파일.csv', sep=',',dtype=dtypes)

In [14]:
df1_final = df1[['도로명주소','교통','마트편의점','교육시설','의료시설','음식점카페','문화공간']].copy()

In [15]:
df1_final.dtypes

도로명주소    object
교통        int32
마트편의점     int32
교육시설      int32
의료시설      int32
음식점카페     int32
문화공간      int32
dtype: object

In [16]:
df1_final.rename(columns={'도로명주소':'address','교통':'trans','마트편의점':'comforts','교육시설':'education','의료시설':'medical','음식점카페':'eatery','문화공간':'culture'}, inplace=True)

In [17]:
df1_final

,address,trans,comforts,education,medical,eatery,culture
0,서울특별시 강동구 천호동 양재대로131가길 13-1,2,98,384,189,1201,18
1,서울특별시 강동구 천호동 천중로 20-7,3,79,190,265,1513,14
2,서울특별시 강동구 천호동 천중로16길 37,4,126,238,316,1934,19
3,서울특별시 강동구 천호동 진황도로25길 49,4,150,254,352,2238,17
4,서울특별시 강동구 천호동 성안로31길 25,3,151,256,325,2257,20
...,...,...,...,...,...,...,...
39293,전라북도 정읍시 상동 충정로 50-1,0,18,133,21,262,3
39294,전라북도 정읍시 상동 학산로 89-71,0,14,116,19,201,2
39295,전라북도 정읍시 상동 학산로 89-72,0,13,114,18,195,2
39296,전라북도 정읍시 시기동 시기4길 42,0,16,78,21,279,10
39297,전라북도 정읍시 신태인읍 신태인리 호남철로 32-13,0,2,11,10,62,3

In [21]:
df1_final.to_sql(name='around', con=db_connection, if_exists='append',index=False)

## 백업을 위한 저장단계

df.head(1)

df1_final.head(1)

df.to_csv('./data/백업building.csv',index=False, sep=",")
df1_final.to_csv('./data/백업around.csv',index=False, sep=",")