# 2020-05-25 현재 building테이블 넣었음  
### building 테이블 스키마
```
CREATE TABLE rot.building (
  num INT NOT NULL AUTO_INCREMENT,
  address VARCHAR(100) NULL,
  sd VARCHAR(20) NULL,
  sgg VARCHAR(20) NULL,
  emd VARCHAR(20) NULL,
  latitude VARCHAR(45) NULL,
  longitude VARCHAR(45) NULL,
  exclusive VARCHAR(10) NULL,
  floor VARCHAR(10) NULL,
  kind VARCHAR(10) NULL,
  detail VARCHAR(10) NULL,
  cost VARCHAR(10) NULL,
  monthly VARCHAR(10) NULL,
  license VARCHAR(45) NULL,
  image VARCHAR(200) NULL,
  contractedAt DATE NULL,
  createdAt DATETIME NULL,
  PRIMARY KEY (num))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8;
```
---

In [ ]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# building

### 데이터 연결

In [2]:
db_connection_str = 'mysql+pymysql://test:rot123456789!!@k02b2031.p.ssafy.io:3306/rot'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

### local
db_connection_str = 'mysql+pymysql://root:ssafy@localhost:3306/rot'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

### 파일 불러오기

In [3]:
dtypes={'전용면적':str,'거래금액':str,'층':str,'건물종류':str,'거래형태':str,'월세':str,'계약날짜':str,'시도':str,'시군구':str,'읍면동':str,'위도':str,'경도':str,'도로명주소':str}
df = pd.read_csv('./data/대전전국데이터합친최종본.csv', sep=',',dtype=dtypes)

In [4]:
df.dtypes

전용면적     object
거래금액     object
층        object
건물종류     object
거래형태     object
월세       object
계약날짜     object
시도       object
시군구      object
읍면동      object
위도       object
경도       object
도로명주소    object
dtype: object

## 칼럼 이름 재정의

In [5]:
df.rename(columns={'전용면적':'exclusive','거래금액':'cost',"도로명주소":'address',
             '시도':'sd','시군구':'sgg','읍면동':'emd',
             '위도':'latitude','경도':'longitude','층':'floor',
             '거래형태':'detail','건물종류':'kind','계약날짜':'contractedAt',
             '월세':'monthly'},inplace=True)

### 데이터 저장일자, 데이터 길이 수정(전용면적,위도,경도)

In [6]:
import random
import datetime

def get_license(row):
    return "SSAFY-대전-00"+str(random.randint(1,5))
df['license'] = df.apply(get_license, axis=1)

In [7]:
df['createdAt'] = datetime.datetime.now()
df['exclusive'] = df['exclusive'].str[:5]
df['latitude'] = df['latitude'].str[:14]
df['longitude'] = df['longitude'].str[:13]
df['image']='default.png'

In [8]:
df.columns

Index(['exclusive', 'cost', 'floor', 'kind', 'detail', 'monthly',
       'contractedAt', 'sd', 'sgg', 'emd', 'latitude', 'longitude', 'address',
       'license', 'createdAt', 'image'],
      dtype='object')

#### replace의 경우를 대비한 dtype 설정내용(지금은 안씀)
dtypesql = {'exclusive':sqlalchemy.types.VARCHAR(10), 
            'cost':sqlalchemy.types.VARCHAR(10), 
            'address':sqlalchemy.types.VARCHAR(100), 
            'sd':sqlalchemy.types.VARCHAR(20), 
            'sgg':sqlalchemy.types.VARCHAR(20), 
            'emd':sqlalchemy.types.VARCHAR(20), 
            'latitude':sqlalchemy.types.VARCHAR(45), 
            'longitude':sqlalchemy.types.VARCHAR(45), 
            'floor':sqlalchemy.types.VARCHAR(10), 
            'detail':sqlalchemy.types.VARCHAR(10), 
            'kind':sqlalchemy.types.VARCHAR(10), 
            'contractedAt':sqlalchemy.Date(), 
            'createdAt':sqlalchemy.DateTime(), 
            'monthly':sqlalchemy.types.VARCHAR(100), 
}
df.to_sql(name='building', con=db_connection, if_exists='append', index=False,dtype=dtypesql)

In [9]:
df.shape

(162834, 16)

## append로 기존에 있는 테이블에 내용 추가

In [10]:
df.to_sql(name='building', con=db_connection, if_exists='append',index=False)

In [11]:
df.head()

,exclusive,cost,floor,kind,detail,monthly,contractedAt,sd,sgg,emd,latitude,longitude,address,license,createdAt,image
0,79.87,16500,8,오피스텔,매매,0,20190920,대전광역시,대덕구,신탄진동,127.4295349045,36.4521628823,대전광역시 대덕구 신탄진동 신탄진로834번길 15,SSAFY-대전-002,2020-05-25 16:16:40.007260,default.png
1,31.64,8100,9,오피스텔,매매,0,20200206,대전광역시,대덕구,신탄진동,127.4295349045,36.4521628823,대전광역시 대덕구 신탄진동 신탄진로834번길 15,SSAFY-대전-004,2020-05-25 16:16:40.007260,default.png
2,33.71,1950,5,오피스텔,매매,0,20191111,대전광역시,동구,삼성동,127.4275681924,36.3355440829,대전광역시 동구 삼성동 대전로867번길 52,SSAFY-대전-005,2020-05-25 16:16:40.007260,default.png
3,28.05,1600,9,오피스텔,매매,0,20191113,대전광역시,동구,삼성동,127.4275681924,36.3355440829,대전광역시 동구 삼성동 대전로867번길 52,SSAFY-대전-004,2020-05-25 16:16:40.007260,default.png
4,28.05,1700,3,오피스텔,매매,0,20191118,대전광역시,동구,삼성동,127.4275681924,36.3355440829,대전광역시 동구 삼성동 대전로867번길 52,SSAFY-대전-001,2020-05-25 16:16:40.007260,default.png