In [1]:
import sqlite3
import pandas as pd
import surprise
import numpy as np
import os

from sqlalchemy import create_engine
import pymysql

## 데이터베이스 연결

In [2]:
db_connection_str = 'mysql+pymysql://test:rot123456789!!@k02b2031.p.ssafy.io:3306/rot'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [3]:
# # clonse DB connection
# db_connection_str = 'mysql+pymysql://root:ssafy@localhost/test'
# db_connection = create_engine(db_connection_str)
# conn = db_connection.connect()
contract = pd.read_sql("SELECT * from contract", con=conn)
around = pd.read_sql("SELECT * from around", con=conn)
favorite = pd.read_sql("SELECT * from favorite", con=conn)
conn.close()

# 가상 유저 , 평점 데이터 넣기

In [4]:
img="https://k.kakaocdn.net/dn/bEU7RF/btqErMqs38t/IPYskkYFsyNZFYUDVg8ML0/img_110x110.jpg"

In [5]:
# contract.groupby(['sd','sgg']).size().reset_index(name='counts')

In [6]:
from random import *
import datetime

In [7]:
size = 1000

## 가상 User를 만들기 위한 함수,,,

In [8]:
fake_users = []
for i in range(size):
    t = [i,datetime.datetime.now(),datetime.datetime.now(),None,"HongjuFriend"+str(i),img]
    fake_users.append(t)
    
    # num,created_at,updated_at,auth,nickname, picture

In [9]:
FU = pd.DataFrame(data=fake_users,columns=['num','created_at','updated_at','auth','nickname','picture'])

## 가상 interest를 만들기 위한 함수,,,

In [11]:
#t = around[around['address'].str.contains('대전광역시 서구')]
t = around.copy()
t['sd']=t['address'].str.split(' ').str[0]
t['sgg']=t['address'].str.split(' ').str[1]

def gett(row):
    if row['sd']=='세종특별자치시':
        return row['sd']
    else:
        return row['sd']+" "+row['sgg']
t['hap'] = t.apply(gett,axis=1)

uniq_list = list(t['hap'].unique())

len(uniq_list)

227

In [12]:
key={1:"교통",2:"마트/편의점",3:"교육시설",4:"의료시설",5:"음식점/카페",6:"문화시설"}
def getBirth():
    return randint(1960,2011)
def getCat():
    b=[False]*7
    idx=0
    re = []
    while(idx<4):
        r = randint(1,6)
        if b[r] is True:
            continue
        else:
            b[r]=True
            re.append(key[r])
            idx+=1
    return re[0],re[1],re[2]
    pass
def getGender():
    r = randint(0,1)
    if r==1:
        return "여자"
    else:
        return "남자"
    pass
def getAddr():
    addr = uniq_list[randint(0,226)]
    if addr.split(" ")[0]=='세종특별자치시':
        return addr[0], None
    else:
        return addr.split(" ")[0], addr.split(" ")[1]

In [ ]:
fake_interests = []
for i in range(size):
    sd,sgg = getAddr()
    f,s,t = getCat()
    t = [getBirth(),f,s,t,getGender(),sd,sgg,i]
    fake_interests.append(t)

In [14]:
FI = pd.DataFrame(data=fake_interests,columns=['birth','first','second','third','gender','sd','sgg','user_num'])
FI.head()

   birth   first  second   third gender     sd   sgg  user_num
0   1997  음식점/카페    의료시설    문화시설     남자   전라남도   강진군         0
1   1970    교육시설  마트/편의점  음식점/카페     남자  대구광역시   달서구         1
2   2004    교육시설  마트/편의점    문화시설     남자   충청북도   진천군         2
3   1988    의료시설  음식점/카페    교육시설     여자    경기도  남양주시         3
4   1972    교육시설  음식점/카페    의료시설     여자  인천광역시   계양구         4

## 가상 Favorite 만들기 위한 함수,,,

In [18]:
columns = ['around','user','score']

In [41]:
def getAround(sd_list):
    r_idx = randint(0,len(sd_list)-1)
    target = sd_list[r_idx]
    return target

In [42]:
fake_favorites = []
for i in range(size):
    sd_list = list(around[around['address'].str.contains(FI[FI['user_num']==i]['sd'].iloc[0])]['around_id'])
    times = randint(40,160)
    for t in range(times):
        tmp = [getAround(sd_list),i,randint(1,5)]
        fake_favorites.append(tmp)

In [43]:
FF = pd.DataFrame(data=fake_favorites,columns=columns)

In [44]:
FF.shape

(98940, 3)

In [45]:
FF

       around  user  score
0       40906     0      1
1       40874     0      1
2       41761     0      2
3       41009     0      2
4       41072     0      2
...       ...   ...    ...
98935   41585   999      1
98936   41671   999      3
98937   41144   999      3
98938   41410   999      5
98939   41865   999      1

[98940 rows x 3 columns]

In [46]:
# around, user 중복데이터 확인 체크용
# FF[FF.duplicated(['around','user'])]
# FF[((FF['around']==54808) & (FF['user']==173))]

In [47]:
FF.drop_duplicates(['around','user'],inplace=True)

In [48]:
FF['around'].value_counts()

40811    25
41772    24
39840    23
22823    22
42144    22
         ..
38706     1
30510     1
12069     1
10020     1
10405     1
Name: around, Length: 29652, dtype: int64

In [51]:
FF.shape

(94845, 3)

## 가상 데이터를 데이터베이스에 넣자 !

In [10]:
FU.to_sql(name='user', con=db_connection, if_exists='append',index=False)

In [17]:
FI.to_sql(name='interest', con=db_connection, if_exists='append',index=False)

In [52]:
FF.to_sql(name='favorite', con=db_connection, if_exists='append',index=False)