In [1]:
import sqlite3
import pandas as pd
import surprise
import numpy as np
import os

from sqlalchemy import create_engine
import pymysql

## 데이터베이스 연결

In [2]:
db_connection_str = 'mysql+pymysql://test:rot123456789!!@k02b2031.p.ssafy.io:3306/rot'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [3]:
# # clonse DB connection
# db_connection_str = 'mysql+pymysql://root:ssafy@localhost/test'
# db_connection = create_engine(db_connection_str)
# conn = db_connection.connect()
# contract = pd.read_sql("SELECT * from contract", con=conn)
around = pd.read_sql("SELECT * from around", con=conn)
favorite = pd.read_sql("SELECT * from favorite", con=conn)
# FI = pd.read_sql("SELECT * from interest", con=conn)
conn.close()

# 가상 유저 , 평점 데이터 넣기

In [4]:
img="https://k.kakaocdn.net/dn/bEU7RF/btqErMqs38t/IPYskkYFsyNZFYUDVg8ML0/img_110x110.jpg"

In [5]:
from random import *
import datetime

In [6]:
size = 2000

## 가상 User를 만들기 위한 함수,,,

In [7]:
fake_users = []
for i in range(size):
    t = [i,datetime.datetime.now(),datetime.datetime.now(),None,"HongjuFriend"+str(i),img]
    fake_users.append(t)
    # num,created_at,updated_at,auth,nickname, picture

In [8]:
FU = pd.DataFrame(data=fake_users,columns=['num','created_at','updated_at','auth','nickname','picture'])

## 가상 interest를 만들기 위한 함수,,,

In [20]:
#t = around[around['address'].str.contains('대전광역시 서구')]
t = around.copy()
t['sd']=t['address'].str.split(' ').str[0]
t['sgg']=t['address'].str.split(' ').str[1]

def gett(row):
    if row['sd']=='세종특별자치시':
        return row['sd']
    else:
        return row['sd']+" "+row['sgg']
t['hap'] = t.apply(gett,axis=1)

uniq_list = list(t['hap'].unique())

len(uniq_list)

227

In [21]:
key={1:"교통",2:"마트/편의점",3:"교육시설",4:"의료시설",5:"음식점/카페",6:"문화시설"}
def getBirth():
    return randint(1960,2011)
def getCat():
    b=[False]*7
    idx=0
    re = []
    while(idx<4):
        r = randint(1,6)
        if b[r] is True:
            continue
        else:
            b[r]=True
            re.append(key[r])
            idx+=1
    return re[0],re[1],re[2]
    pass
def getGender():
    r = randint(0,1)
    if r==1:
        return "여자"
    else:
        return "남자"
    pass
def getAddr():
    addr = uniq_list[randint(0,226)]
    if addr.split(" ")[0]=='세종특별자치시':
        return addr.split(" ")[0], None
    else:
        return addr.split(" ")[0], addr.split(" ")[1]

In [22]:
fake_interests = []
for i in range(size):
    sd,sgg = getAddr()
    f,s,t = getCat()
    t = [getBirth(),f,s,t,getGender(),sd,sgg,i]
    fake_interests.append(t)

In [23]:
FI = pd.DataFrame(data=fake_interests,columns=['birth','first','second','third','gender','sd','sgg','user_num'])
FI.head()

   birth   first second   third gender     sd   sgg  user_num
0   1991  음식점/카페   문화시설    교육시설     남자    경기도   구리시         0
1   1981  음식점/카페   의료시설  마트/편의점     여자  인천광역시  미추홀구         1
2   1964  음식점/카페   문화시설    의료시설     여자    강원도   횡성군         2
3   1983    교육시설     교통  마트/편의점     여자  서울특별시    중구         3
4   1964  음식점/카페   의료시설      교통     남자   전라북도   진안군         4

## 가상 Favorite 만들기 위한 함수,,,

In [27]:
def gettA(row):
    try:
        if row['sd']=='세종특별자치시':
            return row['sd']
        else:
            return row['sd']+" "+row['sgg']
    except:
        print(row['sd']+","+row['sgg'])
FI['hap'] = FI.apply(gettA,axis=1)
FI

      birth   first second   third gender     sd   sgg  user_num         hap
0      1991  음식점/카페   문화시설    교육시설     남자    경기도   구리시         0     경기도 구리시
1      1981  음식점/카페   의료시설  마트/편의점     여자  인천광역시  미추홀구         1  인천광역시 미추홀구
2      1964  음식점/카페   문화시설    의료시설     여자    강원도   횡성군         2     강원도 횡성군
3      1983    교육시설     교통  마트/편의점     여자  서울특별시    중구         3    서울특별시 중구
4      1964  음식점/카페   의료시설      교통     남자   전라북도   진안군         4    전라북도 진안군
...     ...     ...    ...     ...    ...    ...   ...       ...         ...
1995   1961  마트/편의점     교통    교육시설     여자    경기도   광명시      1995     경기도 광명시
1996   2000    문화시설   의료시설  음식점/카페     여자    강원도   삼척시      1996     강원도 삼척시
1997   2000    의료시설   교육시설    문화시설     남자   경상남도   창원시      1997    경상남도 창원시
1998   1964  음식점/카페   의료시설    문화시설     남자   전라북도   익산시      1998    전라북도 익산시
1999   1982    문화시설     교통    교육시설     남자   전라북도   진안군      1999    전라북도 진안군

[2000 rows x 9 columns]

In [28]:
columns = ['around','user','score']

In [29]:
def getAround(sd_list):
    r_idx = randint(0,len(sd_list)-1)
    target = sd_list[r_idx]
    return target

In [30]:
fake_favorites = []
for i in range(size):
    sd_list = list(around[around['address'].str.contains(FI[FI['user_num']==i]['sd'].iloc[0])]['around_id'])
    times = randint(40,160)
    for t in range(times):
        tmp = [getAround(sd_list),i,randint(1,5)]
        fake_favorites.append(tmp)
for i in range(size):
    sd_list = list(around[around['address'].str.contains(FI[FI['user_num']==i]['hap'].iloc[0])]['around_id'])
    times = randint(2,40)
    for t in range(times):
        tmp = [getAround(sd_list),i,randint(1,5)]
        fake_favorites.append(tmp)

In [31]:
FF = pd.DataFrame(data=fake_favorites,columns=columns)

In [32]:
FF.shape

(241129, 3)

In [33]:
FF

        around  user  score
0         8743     0      4
1         9805     0      3
2        12361     0      3
3        11097     0      2
4        17034     0      4
...        ...   ...    ...
241124   41344  1998      1
241125   41374  1998      2
241126   41333  1998      2
241127   39942  1999      5
241128   41739  1999      3

[241129 rows x 3 columns]

In [ ]:
# around, user 중복데이터 확인 체크용
# FF[FF.duplicated(['around','user'])]
# FF[((FF['around']==54808) & (FF['user']==173))]

In [34]:
FF.drop_duplicates(['around','user'],inplace=True)

In [35]:
FF['around'].value_counts()

42074    43
39811    41
42072    40
40688    39
40762    39
         ..
7012      1
33368     1
33496     1
31658     1
4098      1
Name: around, Length: 37246, dtype: int64

In [36]:
FF.shape

(220496, 3)

In [37]:
FF.head(1)

   around  user  score
0    8743     0      4

In [ ]:
FF.rename(columns={'around':'around_around_id','user':'user_num'}, inplace=True)

In [53]:
FI.drop(columns=['hap'], inplace=True)

## 가상 데이터를 데이터베이스에 넣자 !

In [55]:
FU.to_sql(name='user', con=db_connection, if_exists='append',index=False)

In [56]:
FI.to_sql(name='interest', con=db_connection, if_exists='append',index=False)

In [57]:
FF.to_sql(name='favorite', con=db_connection, if_exists='append',index=False)