In [1]:
import sqlite3
import pandas as pd
import surprise
import numpy as np
import os

from sqlalchemy import create_engine
import pymysql

## 데이터베이스 연결

In [2]:
db_connection_str = 'mysql+pymysql://test:rot123456789!!@k02b2031.p.ssafy.io:3306/rot'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [3]:
# # clonse DB connection
# db_connection_str = 'mysql+pymysql://root:ssafy@localhost/test'
# db_connection = create_engine(db_connection_str)
# conn = db_connection.connect()
# contract = pd.read_sql("SELECT * from contract", con=conn)
around = pd.read_sql("SELECT * from around", con=conn)
favorite = pd.read_sql("SELECT * from favorite", con=conn)
FI = pd.read_sql("SELECT * from interest", con=conn)
FU = pd.read_sql("SELECT * from user", con=conn)
conn.close()

# 가상 유저 , 평점 데이터 넣기

In [ ]:
img="https://k.kakaocdn.net/dn/bEU7RF/btqErMqs38t/IPYskkYFsyNZFYUDVg8ML0/img_110x110.jpg"

In [9]:
from random import *
import datetime

In [10]:
size = 2000

## 가상 User를 만들기 위한 함수,,,

In [ ]:
fake_users = []
for i in range(size):
    t = [i,datetime.datetime.now(),datetime.datetime.now(),None,"HongjuFriend"+str(i),img]
    fake_users.append(t)
    # num,created_at,updated_at,auth,nickname, picture

In [ ]:
FU = pd.DataFrame(data=fake_users,columns=['num','created_at','updated_at','auth','nickname','picture'])

## 가상 interest를 만들기 위한 함수,,,

In [ ]:
#t = around[around['address'].str.contains('대전광역시 서구')]
t = around.copy()
t['sd']=t['address'].str.split(' ').str[0]
t['sgg']=t['address'].str.split(' ').str[1]

def gett(row):
    if row['sd']=='세종특별자치시':
        return row['sd']
    else:
        return row['sd']+" "+row['sgg']
t['hap'] = t.apply(gett,axis=1)

uniq_list = list(t['hap'].unique())

len(uniq_list)

In [ ]:
key={1:"교통",2:"마트/편의점",3:"교육시설",4:"의료시설",5:"음식점/카페",6:"문화시설"}
def getBirth():
    return randint(1960,2011)
def getCat():
    b=[False]*7
    idx=0
    re = []
    while(idx<4):
        r = randint(1,6)
        if b[r] is True:
            continue
        else:
            b[r]=True
            re.append(key[r])
            idx+=1
    return re[0],re[1],re[2]
    pass
def getGender():
    r = randint(0,1)
    if r==1:
        return "여자"
    else:
        return "남자"
    pass
def getAddr():
    addr = uniq_list[randint(0,226)]
    if addr.split(" ")[0]=='세종특별자치시':
        return addr.split(" ")[0], None
    else:
        return addr.split(" ")[0], addr.split(" ")[1]

In [ ]:
fake_interests = []
for i in range(size):
    sd,sgg = getAddr()
    f,s,t = getCat()
    t = [getBirth(),f,s,t,getGender(),sd,sgg,i]
    fake_interests.append(t)

In [ ]:
FI = pd.DataFrame(data=fake_interests,columns=['birth','first','second','third','gender','sd','sgg','user_num'])
FI.head()

## 가상 Favorite 만들기 위한 함수,,,

In [33]:
def gettA(row):
    try:
        if row['sd']=='세종특별자치시':
            return row['sd']
        else:
            return row['sd']+" "+row['sgg']
    except:
        print(row['sd']+","+row['sgg'])
FI['hap'] = FI.apply(gettA,axis=1)
FI.head(2)

,interest_id,birth,first,gender,sd,second,sgg,third,user_num,hap
0,3,1993,마트/편의점,남자,서울특별시,교육시설,서초구,문화시설,1325655754,서울특별시 서초구
1,4,1995,교통,남자,대전광역시,마트/편의점,서구,음식점/카페,1342316881,대전광역시 서구

In [34]:
columns = ['around','user','score']
scores=[1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,2,3,3,4,2,3,3,4]

In [35]:
def getAround(sd_list):
    r_idx = randint(1,len(sd_list)-1)
    target = sd_list[r_idx]
    return target

In [36]:
fake_favorites = []
for i in range(size):
    sd_list = list(around[around['address'].str.contains(FI[FI['user_num']==i]['sd'].iloc[0])]['around_id'])
    times = randint(40,160)
    for t in range(times):
        tmp = [getAround(sd_list),i,scores[randint(0,len(scores)-1)]]
        fake_favorites.append(tmp)
for i in range(size):
    sd_list = list(around[around['address'].str.contains(FI[FI['user_num']==i]['hap'].iloc[0])]['around_id'])
    times = randint(2,40)
    for t in range(times):
        tmp = [getAround(sd_list),i,scores[randint(0,len(scores)-1)]]
        fake_favorites.append(tmp)

In [37]:
FF = pd.DataFrame(data=fake_favorites,columns=columns)

In [38]:
FF.shape

(242902, 3)

In [39]:
FF['score'].value_counts()

3    73840
2    53040
4    52558
1    31832
5    31632
Name: score, dtype: int64

In [40]:
# around, user 중복데이터 확인 체크용
# FF[FF.duplicated(['around','user'])]
# FF[((FF['around']==54808) & (FF['user']==173))]

In [41]:
FF.drop_duplicates(['around','user'],inplace=True)

In [42]:
FF['around'].value_counts()

38076    48
39053    44
36853    43
38111    41
36806    40
         ..
1356      1
34012     1
3277      1
13844     1
2047      1
Name: around, Length: 37203, dtype: int64

In [43]:
FF.shape

(220645, 3)

In [44]:
FF.head(1)

   around  user  score
0    9138     0      3

In [45]:
FF.rename(columns={'around':'around_around_id','user':'user_num'}, inplace=True)

In [46]:
FI.drop(columns=['hap'], inplace=True)

## 가상 데이터를 데이터베이스에 넣자 !

In [ ]:
FU.to_sql(name='user', con=db_connection, if_exists='append',index=False)

In [ ]:
FI.to_sql(name='interest', con=db_connection, if_exists='append',index=False)

In [48]:
FF.to_sql(name='favorite', con=db_connection, if_exists='append',index=False)

In [47]:
FF

        around_around_id  user_num  score
0                   9138         0      3
1                   9788         0      3
2                   8058         0      4
3                  13291         0      4
4                  10331         0      4
...                  ...       ...    ...
242883             38345      1998      2
242884             38317      1998      3
242885             38719      1999      3
242886             38716      1999      4
242888             38718      1999      4

[220645 rows x 3 columns]